:root {
	--color-primary: #3498db;
	--color-secondary: #2ecc71;
	--color-background: #f9f9f9;
	--color-text: #333;
	--color-footer: #2c3e50;
}

body {
	background-color: var(--color-background);
	color: var(--color-text);
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header {
	background-color: var(--color-primary);
	color: white;
}

	header nav ul {
		list-style: none;
		padding: 0;
	}

		header nav ul li {
			display: inline;
			margin-right: 15px;
		}

			header nav ul li a {
				color: white;
				text-decoration: none;
			}

				header nav ul li a:hover {
					text-decoration: underline;
				}

main {
	margin: 2rem 0;
}

footer {
	background-color: var(--color-footer);
	color: white;
	text-align: center;
	padding: 1rem 0;
}

	footer a {
		color: white;
	}

		footer a:hover {
			text-decoration: underline;
		}
.book-cover {
	width: 60%;
	margin: 20px auto;
	box-shadow: 5px 5px 20px rgba(0,0,0,0.5);
	border: 1px solid #ccc;
	background: linear-gradient(to right, #74EBD5 0%, #9FACE6 100%);
	border-radius: 5px;
	padding: 40px;
	text-align: center;
}

	.book-cover .book-content {
		padding: 1em;
		border: 1px solid #ddd;
		background: white;
		margin: 10px;
		box-shadow: inset 0 0 10px rgba(0,0,0,0.1);
		border-radius: 3px;
		/* More styling */
		background-color: #7d0000;
		background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23434343' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
	}


	.book-cover h2 {
		margin: 0;
		color: var(--color-primary);
	}

	.book-cover p {
		color: var(--color-text);
	}
