<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title | default: site.title }}</title>
    <link rel="stylesheet" href="{{ 'assets/css/style.css' | relative_url }}">
</head>
<body>

    <div id="book">
        {{ content }}
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="{{ 'assets/js/turn.js' | relative_url }}"></script>
    <script>
        $(document).ready(function () {
            $('#book').turn({
                // The number of pages
                pages: 4,
                // Events for page turning
                when: {
                    turning: function (event, page, pageObject) {
                        console.log('Turning the page to #' + page);
                    }
                }
            });
        });
    </script>
</body>
</html>
